<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>CS224N Autumn 2013-14</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <h3>CS224N (Autumn 2013-14): Natural Language Processing</h3>
  <div id="query-form">
    <form action="/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </div>
</form>
</body>
</html>
