<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>CS224N Autumn 2013-14: {{ student.sunet }}</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div id="wrapper">
    <h3>CS224N (Autumn 2013-14): Natural Language Processing</h3>
    <div class="record"><span class="dlabel">Student</span>: {{ student.name }} / {{ student.id }}</div>
    <div class="record"><span class="dlabel">Late days remaining</span>: {{ student.late_days }}</div>
    <div class="record"><span class="dlabel">Competitive grammar writing</span>: {{ student.cgw }}</div>
    <div class="record">
      <span class="dlabel">Participation</span>:
      <table id="by-week">
	<tr>
	  <td>Week</td>
	  <td>1</td>
	  <td>2</td>
	  <td>3</td>
	  <td>4</td>
	  <td>5</td>
	  <td>6</td>
	  <td>7</td>
	  <td>8</td>
	  <td>9</td>
	  <td>10</td>
	</tr>
	<tr>
	  <td></td>
	  <td>{{ student.week1|default_if_none:"" }}</td>
	  <td>{{ student.week2|default_if_none:"" }}</td>
	  <td>{{ student.week3|default_if_none:"" }}</td>
	  <td>{{ student.week4|default_if_none:"" }}</td>
	  <td>{{ student.week5|default_if_none:"" }}</td>
	  <td>{{ student.week6|default_if_none:"" }}</td>
	  <td>{{ student.week7|default_if_none:"" }}</td>
	  <td>{{ student.week8|default_if_none:"" }}</td>
	  <td>{{ student.week9|default_if_none:"" }}</td>
	  <td>{{ student.week10|default_if_none:"" }}</td>
	</tr>
      </table>
      <div id="buffer"></div>
      <span class='footnote'>'x' for credit received</span>
    </div>
    <p> Class participation redemption policy: You may redeem three participation credits for one late day. We'll simply deduct those participation credits from your tally, which will lower your final grade by 1%. Since late assignments incur a 10% penalty per day after you exhaust your late day quota, that's an attractive deal. To redeem credits, send an email to the staff list with "REDEEM PARTICIPATION" in the subject line and your Stanford student ID in the body (e.g., "11223344").</p>
  </div>
</body>

</html>
